<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>net.supudo.xcode.templates.NintendoDS</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.macBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses devKitPRO and devKitARM for NintendoDS.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>buildToolPath</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Build Tool</string>
			<key>Description</key>
			<string>The path to the build tool to use.</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>/usr/bin/make</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>___VARIABLE_buildToolPath___</string>
			<key>BuildToolArgsString</key>
			<string>all -C $(PROJECT)</string>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string></string>
				<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
				<string>YES</string>
				<key>GCC_WARN_UNUSED_VARIABLE</key>
				<string>YES</string>
				<key>DEVKITPRO</key>
				<string>/Users/supudo/_Software/_GBA/devkitPRO</string>
				<key>DEVKITARM</key>
				<string>/Users/supudo/_Software/_GBA/devkitPRO/devkitARM</string>
				<key>ARCHS</key>
				<string>i386</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>0</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>s</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>makefile</string>
		<string>Sources/main.h</string>
		<string>Sources/main.cpp</string>
		<string>Data/</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>makefile</key>
		<dict>
			<key>Path</key>
			<string>makefile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Sources/main.h</key>
		<dict>
			<key>Path</key>
			<string>Sources/main.h</string>
			<key>Group</key>
			<string>Sources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Sources/main.cpp</key>
		<dict>
			<key>Path</key>
			<string>Sources/main.cpp</string>
			<key>Group</key>
			<string>Sources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Data/</key>
		<dict>
			<key>Path</key>
			<string>Data/</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
